.topContainer{
    display: flex;
    
}

.toolContainer{
    flex-direction: row;
}

.toolContainer>div{
    flex-direction: row;
    flex-wrap: wrap;
}

.toolContainerButton{

}

.bottomContainer{

}

.additionalOptions{

}

.button{

}